.tabWrapper {
  width: 100%;
  background-color: #363635;
  /* border-radius: 10px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.3125rem;
  height: 100vh;
}

.tabHeader {
  display: flex;
  gap: 0.625rem;
  padding: 0.625rem;
  align-items: center;
  justify-content: space-evenly;
}

.tabItem {
  position: relative;

  p {
    padding: 5px 10px;
    display: block;
    color: #b7ffab;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
  }

  &.selected {
    p {
      color: #80ecff;
    }
  }
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #80ecff;
}

.tabContent {
  flex: 1;
  padding: 10px;
  color: #fffec1;
  height: 100%;
  background-color: #363635;
  overflow: auto;
}
